SUPABASE_URL=https://edagnkmmukpsduczcpsa.supabase.co
SUPABASE_PASSWORD=H5l0P4xSoqExVUxg
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkYWdua21tdWtwc2R1Y3pjcHNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTM2OTAwMDUsImV4cCI6MjAyOTI2NjAwNX0.lKmZ4mbAsyNa96tRwdSHlTzWYCMF6FB7AA4trEV62z0
DIRECT_DATABASE_URL=postgres://postgres.edagnkmmukpsduczcpsa:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
DATABASE_URL=postgres://postgres.edagnkmmukpsduczcpsa:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=1