::root {
}

html {
}

body {
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #27272a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b4b50;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: #fff;
}

// Context menu
.destructive-context-menu-item {
  & > div {
    overflow: hidden;
    > a {
      color: rgb(234, 55, 55);
      // color: hsl(var(--destructive));
      &:hover {
        background-color: hsl(var(--destructive));
        color: hsl(var(--destructive-foreground));
      }
    }
  }
}

// Tooltip
.v-popper--theme-tooltip {
  .v-popper__inner {
    background: rgba(0, 0, 0, 0.8);
    font-size: 12px;
  }
}

// Transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
